@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
*{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(179, 218, 245);
    list-style-type: none;/*Para não ficar um tópico */
    cursor: pointer;
}

#f1{
 background-color: white;
 border-radius: 2%;
 padding: 40px;
}

#interacao {
    text-align: center;
    margin: 20px;
    
}

#painel {
    display: flex;
    justify-content: center;
    gap: 40px; 
    width: 100%;
    max-width: 800px;
}
#text{
    display: flex;
    margin: 20px;
    gap: 400px;
    padding-left: 20px;
}

#c1, #c2 {
    width: 100%;
    max-width: 350px;
    min-height: 200px;
    border: 4px solid;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    width: 400px;
}

h2 {
    text-align: center;
    margin: 0;
}
#c1 {
    border-color: red;
}
#c2 {
    border-color: rgb(255, 255, 0);
}
/* BOTÕES */
#add:hover{
    background-color:rgb(8, 0, 128) ;
}
button:hover{
    background-color:rgb(106, 16, 128) ;
    
}
#add{
    background-color: rgb(75, 72, 255); 
    color: white;
}
button{
    background-color: rgb(197, 2, 171); 
    color: white;
}
